.product {
    display: inline-block;
    padding: 1rem;
    margin: 0 1rem;
    min-width: 220px;
    border: 1px solid rgb(46, 187, 223);
    border-radius: 4px;
}

.product.selected {
    background: rgb(247, 247, 147);
}

.product__image {
    text-align: center;
}

.product__image img {
    max-height: 100px;
}

.product__select-button {
    display: block;
    cursor: pointer;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    background: rgb(46, 187, 223);
}

.product__select-button:hover {
    background: rgb(40, 166, 197);
}
